<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <!-- Path to your KSP install (folder that contains GameData / KSP_x64.exe). -->
    <KSPBT_GameRoot>C:\Program Files (x86)\Steam\steamapps\common\Kerbal Space Program</KSPBT_GameRoot>
  </PropertyGroup>
</Project>
